extends layout

block scripts
  script(src='/javascript/jquery.min.js')
  script(src='/javascript/chart.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascript/client.js')
  script(src='/javascript/bootstrap.min.js')

block content
  .container
    #headerrow.row
        .col-md-12
            h1
              | Find what the world is feeling
            |           
            p
              | Enter any word in the search box to search twitter

    #searchBoxDiv
        .input-group
            input#hashtagSearchBox.form-control(type='text', maxlength='30', placeholder='Search for...',pattern='[^a-z0-9]/gi', title='No Special Characters or spaces Allowed')
            |       
            span.input-group-btn
               button#Submit.btn.btn-default(type='button',onclick='onsubmit1()') Search!
    img#preloader(style='display: none;', src='img/loader.gif', height='53')
    #displayChart.col-md-12
        canvas#piechart(height='300')
    #displayWindow.col-md-12
