doctype html
html
  block scripts

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    

    block content
    
    