body {
  padding: 50px;
  font-family: "Open Sans",sans-serif;
}

a {
  color: #00B7FF;
}

#searchBoxDiv
{
  text-align:center;
  padding-bottom: 15px;
  max-width: 800px;
  height: 60px;
  font-size: 30px;
  margin: 0px auto;
}

.alert-error {
  background-color: #e74c3c;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
}

.alert-success
{
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
}

.alert-neutral
{
  background-color: #B1B3A6;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
}

#displayWindow
{
	padding-top: 10px;
}
#displayChart
{
	padding-top: 20px;
	padding-bottom: 10px;
}
#displayChart canvas
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#preloader
{
	display: none;
	/*padding-top: 40px;*/
	  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
    
}

#headerrow
{
	text-align: center;
}